<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.okkio.mybatis.CategoryMybatis">
    <update id="updateCategoryByIds">
        update okkio.categories cd
        set cd.status = #{status}, cd.name = #{name}
        where 1=1
        <if test="ids > -1">
            and cd.id = #{ids}
        </if>
    </update>

    <update id="updateCategoryByIdsV2">
        update okkio.categories_v2 cd
        set cd.status = #{status}, cd.name = #{name}, cd.priority = #{priority}
        where 1=1
        <if test="ids > -1">
            and cd.id = #{ids}
        </if>
    </update>

</mapper>
