<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/okkio/okkio.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>
    <logger name="io.okkio" level="INFO"/>
    <logger name="org.apache.tomcat.util.scan.StandardJarScanner" level="INFO"/>
    <logger name="springfox" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.apache.catalina.core.AprLifecycleListener" level="INFO"/>
    <logger name="org.springframework.context" level="INFO"/>
    <logger name="org.apache.coyote" level="INFO"/>
    <logger name="javax.activation" level="INFO"/>
    <logger name="javax.mail" level="INFO"/>
    <logger name="javax.xml.bind" level="INFO"/>
    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="com.codahale.metrics" level="INFO"/>
    <logger name="com.ryantenney" level="INFO"/>
    <logger name="com.sun" level="INFO"/>
    <logger name="com.zaxxer" level="INFO"/>
    <logger name="io.undertow" level="INFO"/>
    <logger name="io.undertow.websockets.jsr" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="INFO"/>
    <logger name="org.bson" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.cache" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="org.xnio" level="INFO"/>
    <logger name="springfox" level="INFO"/>
    <logger name="sun.rmi" level="INFO"/>
    <logger name="liquibase" level="INFO"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="sun.rmi.transport" level="INFO"/>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
